{block content}
<div class="container">
    <h1 n:block=title>Stránka nenalezena</h1>

    <p>Stránka, kterou požadujete, neexistuje. Zkontrolujte prosím adresu, zda v ní nemáte překlep.</p>

    <p>
        <small>error 404</small>
    </p>
</div>
