#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    wordpress:
        url: https://blog.zlinskybarcamp.cz/
        maxItems: 4


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


extensions:
    replicator: Kdyby\Replicator\DI\ReplicatorExtension


session:
    expiration: 14 days
    cookie_secure: %productionMode%
    debugger: true


database:
    dsn: 'mysql:host=zlinskybarcampweb_mysqldb_1;dbname=zlinskybarcamp'
    user: root
    password: redbitmasters
    options:
        lazy: yes


services:
    - App\Model\ConfigManager
    - App\Model\EventInfoProvider
    - App\Model\FaqManager
    - App\Model\NewsletterSignupManager
    - App\Model\ScheduleManager
    - App\Model\UserManager
    - App\Model\WordpressPostReader(%wordpress%)
    - App\Forms\FormFactory
    - App\Forms\SignInFormFactory
    - App\Forms\SignUpFormFactory
    - App\Components\Faq\FaqFactory
    - App\Components\Feed\FeedFactory
    - App\Components\Newsletter\NewsletterSignupFactory
    - App\Components\Schedule\ScheduleFactory
    - App\Components\SignupButtons\SignupButtonsFactory
    router: App\RouterFactory::createRouter
