{block title}{block h1}Účastníci{/block} - Zlínský barcamp{/block}
{block content}

<div class="panel">
    <a  href="{link exportConfereeCsv!}" class="pull-right btn btn-default">
        <i class="glyphicon glyphicon-cloud-download"></i>
        Stáhnout jako CSV
    </a>
</div>

{control confereeDatagrid}