{block title}{block h1}Program{/block} - Zlínský barcamp{/block}
{block content}

<div class="panel panel-default">
    <div class="panel-body">
        <a href="{link programEdit}" class="pull-right btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i>
            Vytvořit nový
        </a>
    </div>
</div>
{control programDatagrid}