<div class="signup-buttons">
    <div class="signup-button visitor">
        <div class="item-icon">
            0<span class="currency">Kč</span>
        </div>

        <span class="item-title">Chci se účastnit</span>

        <div>
            {*<span class="item-number">219</span> přihlášených účastníků.<br/>
            Zbývá <span class="item-number">81</span> volných míst.*}
            Přihlášení je možné od {$dates->talks|date:'j. n. Y'}
        </div>

        <a n:tag-if="$features->conferee" href="{plink Sign:conferee}">
            <span class="btn btn-sm btn-action {if !$features->conferee}disabled{/if}">CHCI PŘIJÍT NA BARCAMP</span>
        </a>
    </div>

    <div class="signup-button">
        <div class="item-icon">
            <span class="icon icon-music"></span>
        </div>

        <span class="item-title">Chci přednášet</span>

        <div>
            {*<b>107 přednášek v hlasování a 60 z nich v programu.</b><br/>
            Přednášky můžete vypsat do 31.1 2018, 23:59.*}
            Přihlášení je možné od {$dates->talks|date:'j. n. Y'}
        </div>

        <a n:tag-if="$features->talks" href="{plink Sign:talk}">
            <span class="btn btn-sm btn-action {if !$features->talks}disabled{/if}">CHCI VYPSAT PŘEDNÁŠKU</span>
        </a>
    </div>
</div>