{block content}

<section>
    <div class="wrapper bg-gray">
        <div class="container">
            <h1><span class="dot-end" n:block=title>Přihlášení</span></h1>

            {control signInForm}

            <p>Jste tu poprvé? <a n:href="up">Registrujte se</a>.</p>
        </div>
    </div>
</section>


