{block content}

<section>
    <div class="wrapper bg-gray">
        <div class="container">
            <h1><span class="dot-end" n:block=title>Odhlášení</span></h1>

            <p>Jste odhlášeni.</p>

            <p><a n:href="in">Znovu přihlásit</a></p>
        </div>
    </div>
</section>
