{block content}

<section>
    <div class="wrapper bg-gray">
        <div class="container">
            <h1><span class="dot-end" n:block=title>Registrace</span></h1>

            {control signUpForm}

            <p>Už u nás máte účet? <a n:href="in">Přihlaste se</a>.</p>
        </div>
    </div>
</section>
